<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线客服</title>
</head>
<Fragment set:html={'<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="78fa9559-3b31-4e02-8bde-5d5c85e10a4d";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>'} />
<Fragment set:html={'<script>window.addEventListener("load",function(){$crisp.push(["do","chat:open"]),$crisp.push(["on","chat:closed",function(){window.location.href="/"}])})</script>'} />
<body>
</body>
</html>
